<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/client.js"></script>
    <title>PMDT-Blog</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body onload="afterSiteLoad()" style="background-color: whitesmoke;">
    <div class="container" style=" margin: 0px auto">
        <br>
        <h1>PMDT-Blog</h1> 
        <hr>
    

        <div>
            <h3 id="title">  <%= title %> </h3>
            <hr>
            <br>
            <img id="image" style="width: 100%; height: 100%;">
            <br>
            <span></span><label id="subtitle"></label> <%= subtitle %>, picture added on the  <%= date %> <label id="date"></label></span>
            <br>
            <br>
            <label id="story" style="white-space: pre-wrap"> <%= story %> </label>
        </div>

        <hr>
        
        <span>
        <form action="/zurueck" method="POST">
        <button class="btn btn-secondary btn-sm" id="backBtn" onclick="" type="submit">Previous</button>
        </form>

        <form action="/vor" method="POST">
            <button class="btn btn-secondary btn-sm" id="nextBtn" type="submit" >Next</button>
        </form>
        </span>

        <hr>

        <div>
            <div style="background-color: rgb(105, 162, 214); color: White;">
            <br>
                <div style="margin: 55px;">
                <h3>Create your new post:</h3>
                <br>

                    <form action="/upload" method="POST" enctype="multipart/form-data">

                        <div class="custom-file">
                            <input name="myImage" type="file" class="custom-file-input" id="customFile" required>
                            <label class="custom-file-label" for="customFile">Select an image</label>
                        </div>
                        <br></br>
                    
                        <div class="form-group">
                            <label>Title:</label>
                            <input name="iTitle" id="newTitle" type="text" class="form-control" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Subtitle:</label>
                            <input name="iSubtitle" id="newSubtitle" type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Story of the picture:</label>
                            <textarea name="iStory" class="form-control" id="newStory" rows="4"></textarea>
                        </div>
                        
                        <span>
                        <button class="btn btn-primary" type="submit" >Save post</button> 
                        <button type="reset" class="btn btn-primary">Reset</button>
                        </span>

                        <br>
                        <br>
                        
                    </form>
                    
                    <!--<script>
                        // Add the following code if you want the name of the file appear on select
                        $(".custom-file-input").on("change", function() {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                        });
                        </script>-->

                </div>
            </div>
        </div>

</div>
</body>

</html>